@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
@* <h3>@Html.DisplayNameFor(model => model.ClientName): @Html.DisplayFor(model => model.ClientName)</h3>
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.StylistName)</h3> *@

<h3>Client's Name: @Html.DisplayFor(model => model.ClientName)</h3>
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.StylistName)</h3>
<br>

<div id="nav-links">
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId }) 🌺 
  @Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId }) 🌺 
  @Html.ActionLink("Back to list of all clients", "Index") 🌺 
  @Html.ActionLink("Back to list of all stylists", "Index", "Stylists")</p>
<p>🌺 @Html.ActionLink("Home", "Index", "Home") 🌺</p>
</div>